menu "Example Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://192.169.1.176:1883"
        help
            URL of the broker to connect to

    config GPIO_OUTPUT_0
        int "GPIO output pin 0"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_OUT_RANGE_MAX
        default 20
        help
            GPIO pin number to be used as GPIO_OUTPUT_IO_0.

    config MQTT_DATA_TOPIC
        string "data topic"
        default "topic/data"

    config MQTT_METRICS_TOPIC
        string "metrics topic"
        default "topic/metrics"

endmenu
